# Ignore version control and dev tools
.git
.github
*.log
*.zip

# Ignore build artifacts and temp files
*.tar.gz
*.jar
__pycache__/
.DS_Store
tmp/
node_modules/
downloads/
.buildx-cache/

# Ignore local configs and docs
# Ensure license files are included in the image
!LICENSE
!LICENSES/
